# Build - директоря, ее создание будет происходить при сборке
build/

# Временные файлы и директории, созданные при сборке CMake
CMakeCache.txt
CMakeFiles/
Makefile
*.cmake

# Файлы связанные с vcpkg, установка vcpkg будет происходить при сборке
/vcpkg/

# Лог файлы
*.log

# .git директория
.git/

# Файлы связанные с ОС
.DS_Store
Thumbs.db

# Тестовых дирректории и markdown файлы
tests/
*.md

# Конфигурациии VSCode
.vscode/